/* common css starts here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color: #e95a08;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Noto Serif", sans-serif;
}

.heading-first{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 1.5rem;
    color: #000;
}

.text-common{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}


/* common css ends here */

/* headed part for mobile starts here */

header{
    padding: 1rem;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.logo > img{
    width: 4rem;
}

.menu-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: none;
}

.cart > img{
    width: 1.5rem;
}

.cart > a{
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    color: #000;
}

/* header part for mobile ends here */
/* header part styes for desktop starts here */

@media screen and (min-width: 768px) {
    header{
        padding: 2rem 9.37rem 0 9.37rem;
    } 
    
    .logo > img{
        width: 8rem;
        height: 4.5rem;
    }

    .menu-cart{
        gap: 3rem;
    }

    .menu{
        display: flex;
    }

    .menu > ul{
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }

    .menu > ul >li{
        list-style: none;
    }

    .menu > ul > li > a{
        text-decoration: none;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 150%;
        color: #8987a1;
    }

    #home-fixed{
        color:  #252432;
    }

}

/* header part for desktop ends here */

/* maint part starts here */

.hero-section{
    display: flex;
    flex-direction: column;
}

.hero-photo > img{
    width: 100%;
    padding: 1.75rem 0;
}

.hero-content{
    padding: 0 1rem;
}

.hero-content > .heading-first > span{
    color: var(--color);
}

.hero-content > .text-common{
    margin-top: 0.75rem;
}

/* hero section for mobile ends here */

/* hero section for desktop starts here */

@media screen and (min-width: 768px) {
    .hero-section{
        flex-direction: row-reverse;
        padding: 7.5rem 9.37rem;
    }

    .hero-photo{
        flex: 1;
        align-self: last baseline;
    }

    .hero-photo > img{
        padding: 0;
    }

    .hero-content{
        flex: 1;
        align-self: last baseline;
    }

    .hero-content > .heading-first{
        font-size: 3.125rem;
    }

    .hero-content > .text-common{
        font-size: 1.375rem;
    }

}

/* hero section ends and our plants section for mobile starts */

.our-plants-section{
    margin-top: 4rem;
    padding: 0 1rem;
}

.our-plants-section > .heading-first{
    text-align: center;
}

.our-plants-section .text-common{
    text-align: center;
    padding-top: 1rem;
}

.heading-first > span{
    color: var(--color);
}

.card-container{
    margin-top: 1.75rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1.785rem;
}

.card-photo > img{
    width: 100%;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 1.785rem;
}

.card-content > h5{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    color: #111;
    text-align: center;
}

.card-content > h5 > span{
    font-weight: 700;
}

.card-content > a{
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    background-color: var(--color);
    padding: 1.25rem 0;
}

/* our plants for mobile ends and style for desktop starts here */

@media screen and (min-width: 768px) {
    .our-plants-section{
        margin-top: 7.5rem;
        padding: 0 9.3rem;
    }

    .our-plants-section > .heading-first{
        font-size: 3.125rem;
    }

    .our-plants-section .text-common{
        font-size: 1.375rem;
        padding-top: 1rem;
    }

    .card-container{
        margin-top: 3rem;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1.25rem;
        row-gap: 1.875rem;
    }

}

/* our plants for desktop ends here */

/* flower store for mobile starts here */

.flower-store-section{
    margin-top: 2.5rem;
    padding: 0 1rem;
}

.flower-store-container{
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.flower-photo{
    flex: 1;
}

.flower-store-pic > img{
    width: 100%;
}

#photo-badge{
    display: none;
}

.flower-content{
    flex: 1;
}

.flower-content > ul{
    margin-left: 1rem;
}

.flower-content > ul  > li{
    margin-top: 1rem;
}

/* flower store for mobile ends */

/* flower store for desktop starts here */

@media screen and (min-width: 768px) {
    .flower-store-section{
        margin-top: 13rem;
        padding: 0 9.375rem;
        margin-bottom: 3rem;
    }

    .flower-store-container{
        flex-direction: row;
        gap: 3.75rem;
    }

    .flower-photo{
        position: relative;
    }

    .flower-store-pic > img{
        height: 37.25rem;
    }

    #photo-badge{
        display: block;
        width: 18rem;
        position: absolute;
        top: -7rem;
        right: -5rem; 
    }

    .flower-content{
        height: 37.25rem;
    }

    .flower-content > .heading-first{
        font-size: 3.125rem;
    }

    .flower-content > ul  > li{
        margin-top: 1.25rem;
        font-size: 1.375rem;
    }

}

/* flower store ends */

/* deals section starts here */

.deals-section{
    text-align: center;
    margin-top: 5rem;
    padding: 0 1rem;
}

.deals-section > .text-common{
    padding-top: 1rem;
}

.deals-galary{
    display: grid;
    row-gap: 1.25rem;
    margin-top: 3rem;
}

.banner-1{
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.875rem;
    height: 11.5rem;
    position: relative;
}

.banner-2{
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.875rem;
    height: 11.5rem;
    position: relative;
}

.banner-3{
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.875rem;
    height: 11.5rem;
    position: relative;
}

.banner-1::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.875rem;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.banner-2::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.875rem;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.banner-3::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.875rem;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.banner-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    height: 100%;
    z-index: 1;
}

.banner-content > h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 1.25rem;
    color: #fff;
}

.banner-content > a{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
}

/* Our deals section for mobile ends here  */

/* our deals section styles for desktop starts here */

@media screen and (min-width: 768px) {
    .deals-section{
        text-align: center;
        margin-top: 8.5rem;
        padding: 0 9.375rem;
    }

    .deals-galary{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 1.5rem;
        column-gap: 1.75rem;
        margin-top: 7.5rem;
    }

    .banner-3{
        grid-column: 2/3;
        grid-row: 1 / 3;
        height: auto;
        min-height: calc(11.5rem*2 + 1.5rem);
        
    }

    .banner-3 > .banner-content > h2{
        font-size: 2.5rem;
    }

    .banner-3 > .banner-content > a{
        font-size: 1.75rem;
    }

}







